.buttons {
	display: block;
	margin: 1px;
	padding: 5px;
	text-align: center;
}
/*
.buttons button {
	margin-right: 10px;
	border-radius: 12px;
	text-align: center;
	font-weight: bold;
	transition-duration: 0.4s;
}
*/
button:hover {
	background-color: black;
	color: white;
}
.clearImage	{
	background-color: silver;
	border-radius: 12px;
	font-weight: bold;
	border: none;
	color: black;
	padding: 6px 6px;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.createCase {
	background-color: silver;
	border: none;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.deleteCase {
	background-color: silver;
	border: none;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.imageButton {
	background-color: silver;
	border: none;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
.portalButton {
	background-color: silver;
	border: none;
	//border: .5px solid black;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.downloadButton {
	background-color: silver;
	border: none;
	color: black;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

